@CHARSET "UTF-8";

@IMPORT url('structure.css');

.formItems {
	padding-top: 20px;
	padding-left: 20px;
}

.formItems label {
	font-weight: bold;
}

.control-group {
	display: block;
	width: 100%;
	padding-top: 15px;
	margin-top: 5px;
	border-top: 1px solid #E5E5E5;
}

footer div.social_links {
	text-align: center;
    margin-top: 20px;
}

footer div.social_links a {
	margin: 5px;
	text-decoration: none;
}

#mapEvento {
	width: 100%;
	height: 300px;
	margin-bottom: 14px;
}

.icon-twitter, .icon-yahoo, .icon-facebook, .icon-wordpress {
 	margin-top: 0px;
    width: 24px !important;
    height: 24px !important;
 	background: transparent url(../img/social-icons/glyphicons_social_04_yahoo.png) no-repeat center center;
}