@CHARSET "UTF-8";

@IMPORT url('structure.css');

.formItems {
	padding-top: 20px;
	padding-left: 20px;
}

.formItems label {
	font-weight: bold;
}


#mapContent {
	background: white;
	border: 1px solid #CCC;
	border-radius: 8px;
	display: inline-table;
	width: 100%;
	padding: 15px;
}

.control-group {
	display: block;
	width: 100%;
	padding-top: 15px;
	margin-top: 5px;
	border-top: 1px solid #E5E5E5;
}

.hidden {
	display: none;
}

footer div.social_links {
	text-align: center;
}

footer div.social_links a {
	margin: 5px;
	text-decoration: none;
}