@CHARSET "UTF-8";

html,body {
	height: 100%;
	margin: 0px;
	padding-top: 0px;
}

#logo {
	display: block;
	margin: 0px auto;
	margin-bottom: 10px;
}

#wrap {
	min-height: 83.5%; 
	padding-top: 80px;
}

#main {
	padding-bottom: 40px;
	overflow: auto;
}

footer {
	margin-top: -25px;
	height: 35px;
	position: relative;
	clear: both;
	background-color: #11445c;
	padding: 10px 0px;
	border-top: #022738 dashed 3px;
	color: #fefefe;
}

.sponsors {
	padding: 10px;
}

.title {
	margin-bottom: 10px;
}

legend {
	margin-bottom: 0px;
}
