@CHARSET "UTF-8";

html,body {
	height: 100%;
	margin: 0px;
	padding-top: 0px;
}

#logo {
	display: block;
	margin: 0px auto;
	margin-bottom: 10px;
}

#wrap {
    min-height: 100%;
    height: 100%;
    margin: 0 auto -80px;
    padding: 0 0 80px;
}

#main {
	padding-top: 80px;
}
/***** Removido por Domingos Teruel
footer {
	height: 80px;
	background-color: #11445c;
	border-top: #022738 dashed 3px;
	color: #fefefe;
}
*/

.sponsors {
	padding: 10px;
}

.title {
	margin-bottom: 10px;
}

legend {
	margin-bottom: 0px;
}
