<?xml version="1.0" encoding="UTF-8"?>
<routing xmlns="http://lcobucci.com/action-mapper/schema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://lcobucci.com/action-mapper/schema ../vendor/lcobucci/action-mapper/src/Lcobucci/ActionMapper2/Config/schema/routing.xsd ">
	<routes>
		<route pattern="/*" class="\PHPSC\Conference\Application\Action\Home" />
		<route pattern="/contact/*" class="\PHPSC\Conference\Application\Action\Contact" />
		<route pattern="/oauth" class="\PHPSC\Conference\Application\Action\OAuth" method="choose" />
		<route pattern="/oauth/(provider)/*" class="\PHPSC\Conference\Application\Action\OAuth" />
		<route pattern="/user/*" class="\PHPSC\Conference\Application\Action\User" />
		<route pattern="/call4papers/*" class="\PHPSC\Conference\Application\Action\Call4Papers" />
		<route pattern="/payment/*" class="\PHPSC\Conference\Application\Action\Payment" />
		<route pattern="/registration/*" class="\PHPSC\Conference\Application\Action\Registration" />
		<route pattern="/talks/*" class="\PHPSC\Conference\Application\Action\Talks" />
		<route pattern="/status" class="\PHPSC\Conference\Application\Action\Status" />
		<route pattern="/logoff" class="\PHPSC\Conference\Application\Action\Logoff" />
	</routes>
	<filters>
		<filter pattern="/user/*" class="\PHPSC\Conference\Application\Filter\UserFilter" />
		<filter pattern="/call4papers/submissions/new" class="\PHPSC\Conference\Application\Filter\NewTalkFilter" />
		<filter pattern="/call4papers/submissions" class="\PHPSC\Conference\Application\Filter\NewTalkFilter" />
		<filter pattern="/call4papers/feedback" class="\PHPSC\Conference\Application\Filter\CommunityFeedbackFilter" />
		<filter pattern="/registration/new" class="\PHPSC\Conference\Application\Filter\NewAttendeeFilter" />
		<filter pattern="/registration/registered" class="\PHPSC\Conference\Application\Filter\NewAttendeeFilter" />
		<filter pattern="/adm/*" class="\PHPSC\Conference\Application\Filter\AdministratorFilter" />
	</filters>
</routing>