<?xml version="1.0" encoding="UTF-8"?>
<routing xmlns="http://lcobucci.com/action-mapper/schema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://lcobucci.com/action-mapper/schema ../lib/Lcobucci/ActionMapper2/Config/schema/routing.xsd ">
	<routes>
		<route pattern="/*" class="\PHPSC\Conference\Application\Action\Home" />
		<route pattern="/contact/*" class="\PHPSC\Conference\Application\Action\Contact" />
		<route pattern="/oauth/*" class="\PHPSC\Conference\Application\Action\OAuth" />
		<route pattern="/user/*" class="\PHPSC\Conference\Application\Action\User" />
		<route pattern="/call4papers/*" class="\PHPSC\Conference\Application\Action\Call4Papers" />
		<route pattern="/payment/*" class="\PHPSC\Conference\Application\Action\Payment" />
		<route pattern="/registration/*" class="\PHPSC\Conference\Application\Action\Registration" />
	</routes>
	<filters>
		<filter pattern="/user/*" class="\PHPSC\Conference\Application\Action\UserFilter" />
		<filter pattern="/call4papers/submissions/new" class="\PHPSC\Conference\Application\Action\NewTalkFilter" />
		<filter pattern="/call4papers/submissions" class="\PHPSC\Conference\Application\Action\NewTalkFilter" />
		<filter pattern="/call4papers/feedback" class="\PHPSC\Conference\Application\Action\CommunityFeedbackFilter" />
		<filter pattern="/registration/new" class="\PHPSC\Conference\Application\Action\NewAttendeeFilter" />
		<filter pattern="/registration/registered" class="\PHPSC\Conference\Application\Action\NewAttendeeFilter" />
	</filters>
</routing>